// Breakpoints
$break-xs: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

//** Background color for `<body>`
$body-bg: #fff;

//** Global text color on `<body>`.
$text-color: #eee;